@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  background-color: #363945;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70vw;
  height: 100vh;
  margin: auto;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
}
.img {
  width: 70vw;
  height: 80vh;
  border-radius: 20px;
  margin-bottom: 2%;
  transition: 0.5s ease;
  opacity: 1;
}
.text {
  transition: 0.5s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  margin: 0;
  color: #939597;
}
.btn-wrapper {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn,
.active {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}
.btn {
  background-color: #edf1ff;
}
.active {
  border: 3px solid #edf1ff;
  background-color: #282d3c;
}
.btn-wrapper:hover .btn,
.btn:hover {
  background-color: #a09998;
}
.btn-wrapper:hover .active,
.active:hover {
  border-color: #a09998;
}
