@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* Size for Shahzod's devices are: 1325*650 - for Noutbook and 480*850 for Mobile */
html,
body {
  background-color: #363945;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 70vw;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
}
.img {
  background: url("assets/bmw.jpg") no-repeat;
  background-size: 70vw 80vh;
  width: 70vw;
  height: 80vh;
  margin-bottom: 2%;
  transition: 0.4s ease;
  border: 1px solid white;
  border-radius: 20px;
}
.text {
  transition: 0.4s ease;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #939597;
}
.btn-wrapper {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn,
.active {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}
.btn {
  background-color: #edf1ff;
}
.active {
  border: 3px solid #edf1ff;
  background-color: #282d3c;
}
.btn-wrapper:hover .btn,
.btn:hover {
  background-color: #a09998;
}
.btn-wrapper:hover .active,
.active:hover {
  border-color: #a09998;
}
@media (max-width: 480px) {
  .container {
    max-width: 85vw;
  }
  .controls {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .text {
    margin-right: auto;
    font-size: 1.5rem;
  }
  .img {
    background-size: 85vw 35vh;
    width: 85vw;
    height: 35vh;
    margin-bottom: 0;
  }
  .btn,
  .active {
    width: 1.1rem;
    height: 1.1rem;
  }
  .btn-wrapper {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.7rem 3px;
  }
}
